@charset "utf-8";
@import "../../common/sass/suggest";


// -------------------------------------------
// サジェスト
// -------------------------------------------

.#{$search-prefix}condition {
	display:table;
	width:100%;
	padding:10px;
	@include box-sizing(border-box);
	background-color:#FFF;
	vertical-align:center;
}
.#{$search-prefix}condition > dl,
.#{$search-prefix}condition > div {
	display:table-cell;
	vertical-align:top;
}

.suggest-box {
	width:50%;
}

.suggest-x {
	vertical-align:middle !important;
}
.suggest-ttl {
	padding:0 0 7px;
	font-weight:bold;
	color:$text_color_L;
}
.suggest-ttl .ic-area:before,
.suggest-ttl .ic-keyword:before {
	margin-right:4px;
}
.suggest-btn {
	padding:10px 0 0;
	text-align:right;
}
.suggest-btn a {
	font-size:$font_s;
	color:$text_color_L;
	@include box-pack(end);

	&:after {
		margin-left: 4px;
	}
}

.js-suggest-view #gnHeader,
.js-suggest-view .search-gnav,
.js-suggest-view .search-title-M,
.js-suggest-view .budget-select,
.js-suggest-view .search-action,
.js-suggest-view .search-title-S,
.js-suggest-view .search-list-01,
.js-suggest-view .pd10lr,
.js-suggest-view #gnFooter,
.js-suggest-view .suggest-box,
.js-suggest-view .suggest-x,
.js-suggest-view .suggest-ttl,
.js-suggest-view .suggest-btn,
.js-suggest-view .suggest-submit,
.js-suggest-view .search-point-check,
.js-suggest-view .search-condition-title,
.js-suggest-view .search-list-nest-action,
.js-suggest-view .tax-expand,
.js-suggest-view .choseimaru-header {
	display:none;
}
.js-suggest-view .search-submit-footer {
	display:none !important;
}
.js-suggest-view .search-condition {
	padding:10px;
}
.js-suggest-view .search-condition {
	background-color:#e9e6e2;
	border-bottom:1px solid #CCC;
}
.js-suggest-view .js-focus-area .suggest-text:nth-child(2) .suggest-clear,
.js-suggest-view .js-focus-dish .suggest-text:nth-child(4) .suggest-clear {
	display:block;
}
.js-suggest-view .js-focus-area .suggest-box:nth-child(2),
.js-suggest-view .js-focus-dish .suggest-box:nth-child(4) {
	display:table-cell !important;
	width:100%;
}

//for Android2
.js-android2 .suggest-text {
	min-height:35px;
}
.js-suggest-view .js-android2-text {
	position:absolute;
	left:0;
	top:-1px;
	width:88%;
}